---
layout: Stylesheet
---

@import "/assets/css/highlight.css";
/*@import "/assets/css/theme.css"; leaving out for now, will tinker w/color switcher later...*/
/* Containers: Body, Container, Box, Main, Header, Content */


@font-face {
   font-family: 'Heldane';
   src: url('../fonts/heldane-display-regular.woff2') format('woff2');
   font-weight: 400;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Heldane';
   src: url('../fonts/HeldaneTextWeb-RegularItalic.woff2') format('woff2');
   font-weight: 400;
   font-style: italic;
   font-display: swap;
}

@font-face {
   font-family: 'Heldane';
   src: url('../fonts/heldane-display-medium.woff2') format('woff2');
   font-weight: 500;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Heldane';
   src: url('../fonts/heldane-display-bold.woff2') format('woff2');
   font-weight: 700;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Favorit';
   src: url('../fonts/Favorit-Regular.woff2') format('woff2');
   font-weight: 400;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Favorit';
   src: url('../fonts/FavoritProMedium.woff2') format('woff2');
   font-weight: 500;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Favorit';
   src: url('../fonts/Favorit-Bold.woff2') format('woff2');
   font-weight: 700;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'FavoritMono';
   src: url('../fonts/FavoritMonoStd-Regular.woff2') format('woff2');
   font-weight: 400;
   font-style: normal;
   font-display: swap;
}

/*light/dark mode colors*/

html, html[data-theme="light"] {
	--c-bg: #f5f3ef;
	--c-accent: #946e24;
	--c-text: #1c1c1c;
	--c-text-muted: #555555;
	--c-text-strong: #1c1c1c;
	--c-text-link: #6b501a;
	--c-border: rgba(128, 116, 107, 0.3);
	--c-border-light: rgba(128, 116, 107, 0.1);
	--c-btn-bg: #e0d5c0;
	--c-btn-alt-bg: #f5f3ef;
	--c-card-bg: #e0d5c0;
	--c-card-bg-light: rgba(224, 213, 192, 0.4);
	--c-card-border: #8e7546;
	--c-card-border-light: #bea77c;
	--c-card-text: #1c1c1c;
	--c-card-text-muted: #2d2825;
	--c-card-text-link: #1c1c1c;
	--c-bright-1: #cfae70;
	--c-bright-2: #946e24;
	--c-topper-split-bg: #e0d5c0;
	--c-gradient-fade: linear-gradient(90deg, rgba(245, 243, 239, 0) 0%, rgba(245, 243, 239, 0.75) 50%, #f5f3ef 100%);
	--c-gradient-fade-vert: linear-gradient(180deg, rgba(245, 243, 239, 0) 0%, rgba(245, 243, 239, 0.75) 50%, #f5f3ef 100%)
}

html[data-theme="dark"] {
	--c-bg: #1c1c1c;
	--c-accent: #cfae70;
	--c-text: #e0d5c0;
	--c-text-muted: #998e85;
	--c-text-strong: #ffffff;
	--c-text-link: #ffffff;
	--c-border: rgba(255, 255, 255, 0.3);
	--c-border-light: rgba(255, 255, 255, 0.05);
	--c-btn-bg: rgba(224, 213, 192, 0.2);
	--c-btn-alt-bg: rgba(224, 213, 192, 0.2);
	--c-card-bg: #f5f3ef;
	--c-card-bg-light: rgba(245, 243, 239, 0.1);
	--c-card-border: #e0d5c0;
	--c-card-border-light: rgba(224, 213, 192, 0.75);
	--c-card-text: #555555;
	--c-card-text-muted: #666666;
	--c-card-text-link: #1c1c1c;
	--c-bright-1: #86227b;
	--c-bright-2: #e05968;
	--c-topper-split-bg: #000000;
	--c-gradient-fade: linear-gradient(90deg, rgba(28, 28, 28, 0) 0%, rgba(28, 28, 28, 0.75) 50%, #1c1c1c 100%);
	--c-gradient-fade-vert: linear-gradient(180deg, rgba(28, 28, 28, 0) 0%, rgba(28, 28, 28, 0.75) 50%, #1c1c1c 100%)
	}

@media (prefers-color-scheme: dark) {
	html, html[data-theme="dark"] {
	--c-bg: #1c1c1c;
	--c-accent: #cfae70;
	--c-text: #e0d5c0;
	--c-text-muted: #998e85;
	--c-text-strong: #ffffff;
	--c-text-link: #ffffff;
	--c-border: rgba(255, 255, 255, 0.3);
	--c-border-light: rgba(255, 255, 255, 0.05);
	--c-btn-bg: rgba(224, 213, 192, 0.2);
	--c-btn-alt-bg: rgba(224, 213, 192, 0.2);
	--c-card-bg: #f5f3ef;
	--c-card-bg-light: rgba(245, 243, 239, 0.1);
	--c-card-border: #e0d5c0;
	--c-card-border-light: rgba(224, 213, 192, 0.75);
	--c-card-text: #555555;
	--c-card-text-muted: #666666;
	--c-card-text-link: #1c1c1c;
	--c-bright-1: #86227b;
	--c-bright-2: #e05968;
	--c-topper-split-bg: #000000;
	--c-gradient-fade: linear-gradient(90deg, rgba(28, 28, 28, 0) 0%, rgba(28, 28, 28, 0.75) 50%, #1c1c1c 100%);
	--c-gradient-fade-vert: linear-gradient(180deg, rgba(28, 28, 28, 0) 0%, rgba(28, 28, 28, 0.75) 50%, #1c1c1c 100%)
	}

	html[data-theme="light"] {
	--c-bg: #f5f3ef;
	--c-accent: #946e24;
	--c-text: #1c1c1c;
	--c-text-muted: #555555;
	--c-text-strong: #1c1c1c;
	--c-text-link: #6b501a;
	--c-border: rgba(128, 116, 107, 0.3);
	--c-border-light: rgba(128, 116, 107, 0.1);
	--c-btn-bg: #e0d5c0;
	--c-btn-alt-bg: #f5f3ef;
	--c-card-bg: #e0d5c0;
	--c-card-bg-light: rgba(224, 213, 192, 0.4);
	--c-card-border: #8e7546;
	--c-card-border-light: #bea77c;
	--c-card-text: #1c1c1c;
	--c-card-text-muted: #2d2825;
	--c-card-text-link: #1c1c1c;
	--c-bright-1: #cfae70;
	--c-bright-2: #946e24;
	--c-topper-split-bg: #e0d5c0;
	--c-gradient-fade: linear-gradient(90deg, rgba(245, 243, 239, 0) 0%, rgba(245, 243, 239, 0.75) 50%, #f5f3ef 100%);
	--c-gradient-fade-vert: linear-gradient(180deg, rgba(245, 243, 239, 0) 0%, rgba(245, 243, 239, 0.75) 50%, #f5f3ef 100%)
	}
}

/* end of experiment*/

:root {

  /* Layouts */
  --measure: 33em;
  --container-width: 80rem;
  --container-gutter: 1.5rem;

  /* Screen sizes */
  --screen-xs: 36rem;  /* 576px */
  --screen-sm: 48rem; /* 768px */
  --screen-md: 60rem; /* 960px */
  --screen-lg: 80rem; /* 1280px */
  --screen-xl: 100rem; /* 1600px */

  /* Colors */

  /* Font size */
  --font-size-small: .875rem;
  --font-size-medium: 1.125rem;
  --font-size-large: 1.25rem;
  --font-size-xl: 1.75rem;
  --font-size-4xl: 2.5rem;
  --font-size-5xl: 5rem;
  --font-size-6xl: 5.5rem;

  --body-copy-size: 1.25rem;
  --title-font-size: 3rem;

  --font-weight-base: 400;
  --font-weight-semibold: 500;
  --font-weight-bold: 700;

  /* Line height */
  --line-height-none: 1;
  --line-height-tight: .875;
  --line-height-base: 1.12; /* Tight */
  --line-height-snug: 1.375;

  /* Font family */
  --font-family-serif: 'Heldane', serif;
  --font-family-mono: 'FavoritMono', 'SFMono-Regular', 'Menlo', monospace;
  --font-family-sans: 'Favorit', 'Univers', 'Helvetica', '-apple-system', 'BlinkMacSystemFont', sans-serif;

  --font-family-base: var(--font-family-sans);

  /* Letter spacing */
    --letter-spacing-tight: -.015em;
    --letter-spacing-wider: .05em;

    /* Border-radius */
    --border-radius: .25rem;

    /* Border */
    --border-width: 2px;
    --border-width-thick: 4px;
}

/*
@media (min-width: 48rem) {:root {
    --body-copy-size: 1.76rem;
    --title-font-size: var(--font-size-5xl)
}
  }
  @media (min-width: 60rem) {:root {
    --body-copy-size: 2.08rem;
    --title-font-size: var(--font-size-6xl)
}
  }
  @media (min-width: 60rem) {:root {
    --border-width: 3px;
    --border-width-thick: 5px
}
  }
*/

html {
  scroll-behavior: smooth;
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  line-height: var(--line-height-base);
  color: var(--c-text);
  background-color: var(--c-bg);
  font-family: var(--font-family-base);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: var(--c-bg) .5s;
}

body {
    counter-reset: sidenote-counter;
}

.container {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    align-items: center;
    max-width: 1100px;
    margin-right: auto;
    margin-left: auto;
}

.box {
    border-left: 1px solid var(--c-border);
    border-right: 1px solid var(--c-border);
    border-bottom: 1px solid var(--c-border);
    width: 60%;
    position: absolute;
    top: 0px;
}

header {
    display: flex;
    flex-direction: column;
}

main {
    min-height: 300px;
    margin-left: 20px;
    padding-right: 10px;
}


/* Phrasing Style: H1, H2, H3, H4, H5, H6, P, A, UL, LI */



 h1 {
	font-size: 28px;
	font-variant-ligatures: common-ligatures;
	font-variant-numeric: oldstyle-nums;
	font-feature-settings: pnum;
	font-family: var(--font-family-serif), Times, "Times New Roman", serif;
	font-weight: 700;
	letter-spacing: -0.015em;
	line-height: 1;
	margin: 36px 0 8px;
	color: var(--c-text-strong)
}

@media(min-width: 300px)and (max-width: 1069px) {
	 h1 {
		font-size: calc(28px + (72 - 28) * ( 100vw - 300px) / (1070 - 300))
	}
}

@media(min-width: 1070px) {
	 h1 {
		font-size: 72px
	}
}

 h1 a {
	box-shadow: inset 0 -10px var(--c-bg), inset 0 -11px var(--c-border);
	color: var(--c-text-link);
	cursor: pointer;
	transition: box-shadow .2s cubic-bezier(0.645, 0.045, 0.355, 1), color .2s cubic-bezier(0.645, 0.045, 0.355, 1)
}

 h1 a:hover,
 h1 a:focus {
	box-shadow: inset 0 -10px var(--c-bg), inset 0 -11px var(--c-text-strong);
	color: var(--c-text-strong)
}

@media(min-width: 600px) {
	 h1 a {
		box-shadow: inset 0 -14px var(--c-bg), inset 0 -15px var(--c-border);
		color: var(--c-text-link);
		cursor: pointer;
		transition: box-shadow .2s cubic-bezier(0.645, 0.045, 0.355, 1), color .2s cubic-bezier(0.645, 0.045, 0.355, 1)
	}
	 h1 a:hover,
	 h1 a:focus {
		box-shadow: inset 0 -14px var(--c-bg), inset 0 -15px var(--c-text-strong);
		color: var(--c-text-strong)
	}
}

@media(min-width: 768px) {
	 h1 {
		margin: 120px 0 12px
	}
}

 h2 {
	font-size: 28px;
	font-family: var(--font-family-serif), system-ui, sans-serif;
	font-weight: 700;
	letter-spacing: -0.01em;
	line-height: 1.2;
	margin-top: 24px;
	padding: 24px 0 5px;
	color: var(--c-text-strong)
}

@media(min-width: 300px)and (max-width: 1499px) {
	 h2 {
		font-size: calc(28px + (36 - 28) * ( 100vw - 300px) / (1500 - 300))
	}
}

@media(min-width: 1500px) {
	 h2 {
		font-size: 36px
	}
}

 h2 a {
	box-shadow: inset 0 -4px var(--c-bg), inset 0 -5px var(--c-border);
	color: var(--c-text-link);
	cursor: pointer;
	transition: box-shadow .2s cubic-bezier(0.645, 0.045, 0.355, 1), color .2s cubic-bezier(0.645, 0.045, 0.355, 1)
}

 h2 a:hover,
 h2 a:focus {
	box-shadow: inset 0 -4px var(--c-bg), inset 0 -5px var(--c-text-strong);
	color: var(--c-text-strong)
}

@media(min-width: 600px) {
	 h2 a {
		box-shadow: inset 0 -6px var(--c-bg), inset 0 -7px var(--c-border);
		color: var(--c-text-link);
		cursor: pointer;
		transition: box-shadow .2s cubic-bezier(0.645, 0.045, 0.355, 1), color .2s cubic-bezier(0.645, 0.045, 0.355, 1)
	}
	 h2 a:hover,
	 h2 a:focus {
		box-shadow: inset 0 -6px var(--c-bg), inset 0 -7px var(--c-text-strong);
		color: var(--c-text-strong)
	}
}

@media(min-width: 768px) {
	 h2 {
		margin-top: 0;
		padding: 60px 0 12px
	}
}

 h3 {
	font-size: 21px;
	font-family: var(--font-family-serif), system-ui, sans-serif;
	font-weight: 500;
	letter-spacing: -0.01em;
	line-height: 1.2;
	margin: 36px 0 5px;
	color: var(--c-text-strong)
}

@media(min-width: 300px)and (max-width: 1199px) {
	 h3 {
		font-size: calc(21px + (24 - 21) * ( 100vw - 300px) / (1200 - 300))
	}
}

@media(min-width: 1200px) {
	 h3 {
		font-size: 24px
	}
}

@media(min-width: 768px) {
	 h3 {
		margin: 60px 0 12px
	}
}

 h4 {
	font-size: 17px;
	font-family: var(--font-family-serif), system-ui, sans-serif;
	font-weight: 400;
	letter-spacing: .1em;
	line-height: 1.2;
	text-transform: uppercase;
	margin: 36px 0 5px;
	color: var(--c-text-strong)
}

@media(min-width: 300px)and (max-width: 1199px) {
	 h4 {
		font-size: calc(17px + (19 - 17) * ( 100vw - 300px) / (1200 - 300))
	}
}

@media(min-width: 1200px) {
	 h4 {
		font-size: 19px
	}
}

 h4 b,
 h4 strong {
	font-weight: 500
}

@media(min-width: 768px) {
	 h4 {
		margin: 60px 0 8px
	}
}

 h5 {
	font-size: 17px;
	font-family: var(--font-family-serif);
	font-size: 17px;
	line-height: 1.4;
	font-weight: 300;
	margin: 24px 0 5px;
	color: var(--c-text-muted)
}

@media(min-width: 300px)and (max-width: 1499px) {
	 h5 {
		font-size: calc(17px + (24 - 17) * ( 100vw - 300px) / (1500 - 300))
	}
}

@media(min-width: 1500px) {
	 h5 {
		font-size: 24px
	}
}

@media(min-width: 768px) {
	 h5 {
		margin: 60px 0 8px
	}
}

 h6 {
	font-size: 17px;
	font-family: var(--font-family-serif);
	font-size: 17px;
	line-height: 1.4;
	font-weight: 300;
	font-style: italic;
	margin: 24px 0 5px;
	color: var(--c-text-muted)
}

@media(min-width: 300px)and (max-width: 1499px) {
	 h6 {
		font-size: calc(17px + (24 - 17) * ( 100vw - 300px) / (1500 - 300))
	}
}

@media(min-width: 1500px) {
	 h6 {
		font-size: 24px
	}
}

@media(min-width: 768px) {
	 h6 {
		margin: 60px 0 8px
	}
}

a, p, ul, li, ol, table, span, blockquote {
    color: var(--c-text);
    font-family:   var(--secondary-font-family);
    font-size: inherit;
    line-height: 1.5em;
}

p, li {
	font-size: 17px;
	font-family: var(--font-family-sans);
	font-size: 17px;
	line-height: 1.4;
	font-weight: 300;
	padding-left: 8px;
	padding-right: 8px
}

p b,
p strong, li strong {
	font-weight: 500
}

p em,
p i, li em, li i {
	font-style: italic
}

p p:not(:last-child) {
	margin-top: 0;
	margin-bottom: 1em
}

p a {
	box-shadow: inset 0 -1px var(--c-border);
	color: var(--c-text-link);
	cursor: pointer;
	transition: box-shadow .2s cubic-bezier(0.645, 0.045, 0.355, 1), color .2s cubic-bezier(0.645, 0.045, 0.355, 1)
}

p a:hover,
p a:focus {
	box-shadow: inset 0 -1px var(--c-text-strong);
	color: var(--c-text-strong)
}

@media(min-width: 300px)and (max-width: 1499px) {
	p, li {
		font-size: calc(17px + (24 - 17) * ( 100vw - 300px) / (1500 - 300))
	}
}

@media(min-width: 1500px) {
	p,li {
		font-size: 24px
	}
}

@media(min-width: 768px) {
	p,li {
		padding-left: .5vw;
		padding-right: .5vw
	}
}

p>:last-child {
	margin-bottom: 0
}


p a,
ul a,
li a,
td a,
th a,
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a,
span a,
div a,
ol a,
blockquote a,
cite a {
    font-size: inherit;
    font-family: inherit;
    color: inherit;
}

 ul {
	list-style: none;
	padding-left: 0
}

 ul:first-child {
	margin-top: 0
}

 ul:last-child {
	margin-bottom: 0
}

 ul li {
	margin-top: 10px;
	padding-left: 1em;
	position: relative
}

 ul li::before {
	position: absolute;
	top: .5em;
	left: 0;
	height: 6px;
	width: 6px;
	background-color: var(--c-accent);
	border-radius: 50%;
	content: "";
	position: absolute
}

@media(min-width: 1070px) {
	 ul li::before {
		height: 8px;
		width: 8px
	}
}

 ul ul li::before {
	background: transparent;
	border: 1px solid var(--c-accent)
}

 ul ul ul li::before {
	background-color: var(--c-accent)
}

 ul ul ul ul li::before {
	background: transparent;
	border: 1px solid var(--c-accent)
}

 ul ul ul ul ul li::before {
	background-color: var(--c-accent)
}

 ul ul ul ul ul ul li::before {
	background: transparent;
	border: 1px solid var(--c-accent)
}

 ol {
	counter-reset: counter;
	list-style: none;
	padding-left: 0
}

 ol:first-child {
	margin-top: 0
}

 ol:last-child {
	margin-bottom: 0
}

 ol>li {
	margin-top: 10px;
	padding-left: 1em;
	position: relative
}

 ol>li::before {
	position: absolute;
	top: 0;
	left: 0;
	font-family: var(--font-family-sans), system-ui, sans-serif;
	font-size: 1.4;
	font-weight: 300;
	content: counter(counter);
	counter-increment: counter
}

 ol li::before {
	color: var(--c-accent)
}

 ol ol li::before {
	content: counter(counter, lower-alpha) "."
}

 ol ol ol li::before {
	content: counter(counter, upper-roman) "."
}

 ol ol ol ol li::before {
	content: counter(counter) "."
}

 ol ol ol ol ol li::before {
	content: counter(counter, lower-alpha) "."
}

 ol ol ol ol ol ol li::before {
	content: counter(counter, upper-roman) "."
}

 blockquote {
	padding-top: 18px;
	padding-bottom: 18px
}

@media(min-width: 600px) {
	 blockquote {
		padding-top: 24px
	}
}

@media(min-width: 1070px) {
	 blockquote {
		padding-top: 36px
	}
}

@media(min-width: 600px) {
	 blockquote {
		padding-bottom: 24px
	}
}

@media(min-width: 1070px) {
	 blockquote {
		padding-bottom: 36px
	}
}

 blockquote p {
	border-left: 5px solid var(--c-border-light);
	color: var(--c-text-muted);
	padding-left: 1em
}

 blockquote cite {
	font-family: var(--font-family-sans), system-ui, sans-serif;
	font-size: 16px;
	line-height: 1.4;
	font-weight: 400;
	color: var(--c-text-muted)
}

 blockquote cite strong {
	color: var(--c-text);
	font-weight: 500
}

 pre {
	margin-top: 18px;
	margin-bottom: 18px;
	background-color: var(--c-card-bg);
	color: var(--c-card-text);
	display: block;
	padding: 20px
}

@media(min-width: 600px) {
	 pre {
		margin-top: 24px
	}
}

@media(min-width: 1070px) {
	 pre {
		margin-top: 36px
	}
}

@media(min-width: 600px) {
	 pre {
		margin-bottom: 24px
	}
}

@media(min-width: 1070px) {
	 pre {
		margin-bottom: 36px
	}
}

 code {
	font-family: Consolas, Menlo, Monaco, "Courier New", Courier, monospace;
	font-size: 15px;
	line-height: 1.4;
	font-weight: 400;
	background-color: var(--c-card-bg);
	color: var(--c-card-text);
	display: inline-block;
	padding: 2px
}

 table {
	margin-top: 18px;
	margin-bottom: 18px;
	margin-top: 18px;
	margin-bottom: 18px;
	font-family: Theinhardt, system-ui, sans-serif;
	font-size: 16px;
	line-height: 1.2;
	font-weight: 400;
	background-color: var(--c-card-bg);
	border-collapse: collapse;
	color: var(--c-card-text);
	table-layout: fixed;
	width: 100%
}

@media(min-width: 600px) {
	 table {
		margin-top: 24px
	}
}

@media(min-width: 1070px) {
	 table {
		margin-top: 36px
	}
}

@media(min-width: 600px) {
	 table {
		margin-bottom: 24px
	}
}

@media(min-width: 1070px) {
	 table {
		margin-bottom: 36px
	}
}

@media(min-width: 600px) {
	 table {
		margin-top: 24px
	}
}

@media(min-width: 1070px) {
	 table {
		margin-top: 36px
	}
}

@media(min-width: 600px) {
	 table {
		margin-bottom: 24px
	}
}

@media(min-width: 1070px) {
	 table {
		margin-bottom: 36px
	}
}

 table strong {
	font-weight: 500
}

 table thead {
	background-color: var(--c-text);
	color: var(--c-bg);
	font-weight: 500
}

@media(max-width: 767px) {
	 table thead {
		display: none
	}
}

 table thead th {
	text-align: left
}

 table tr {
	margin-top: 0
}

@media(min-width: 0)and (max-width: 767px) {
	 table tr {
		border-width: 0
	}
}

 table tr:not(:first-child) {
	border: 1px solid var(--c-border);
	border-width: 1px 0 0
}

 table thead tr {
	border-width: 0
}

@media(max-width: 767px) {
	 table tbody tr {
		display: block;
		padding: 24px
	}
}

 table thead td,
 table thead th,
 table tbody td {
	margin-top: 0;
	padding-top: 0
}

@media(min-width: 768px) {
	 table thead td,
	 table thead th,
	 table tbody td {
		padding-top: 18px;
		padding-right: 18px;
		padding-bottom: 18px;
		padding-left: 18px
	}
}

 table tbody td {
	line-height: 1.3
}

@media(max-width: 767px) {
	 table tbody td {
		display: block;
		padding: 0
	}
}

@media(min-width: 768px) {
	 table tbody td {
		line-height: inherit
	}
}

 table td {
	border: 0;
	vertical-align: top
}

@media(max-width: 767px) {
	 table td {
		display: block;
		font-size: 17px;
		width: 100% !important
	}
}

@media(min-width: 768px) {
	 table td {
		padding-top: 24px;
		padding-bottom: 24px;
		padding-left: 0;
		padding-right: 0;
		display: table-cell;
		width: auto
	}
}

@media(max-width: 767px) {
	 table td+td {
		border-top: 1px solid var(--c-card-border-light);
		margin-top: 18px;
		padding-top: 18px
	}
}

 table td[data-th]::before {
	color: var(--c-card-text-muted);
	content: attr(data-th) ": ";
	display: inline;
	font-weight: 500
}

@media(min-width: 768px) {
	 table td[data-th]::before {
		display: none
	}
}

 table tbody a {
	box-shadow: inset 0 -1px var(--c-card-border);
	color: var(--c-card-text-link);
	cursor: pointer;
	transition: box-shadow .2s cubic-bezier(0.645, 0.045, 0.355, 1), color .2s cubic-bezier(0.645, 0.045, 0.355, 1)
}

 table tbody a:hover,
 table tbody a:focus {
	box-shadow: inset 0 -1px var(--c-card-border-light);
	color: var(--c-card-text)
}

@media(max-width: 767px) {
	 table tbody {
		border: 1px solid var(--c-card-border-light);
		border-width: 3px 1px 1px
	}
}

 hr {
	margin-top: 24px;
	margin-bottom: 24px;
	height: 1px;
	width: 100%;
	background-color: var(--c-border);
	border: 0;
	display: block;
	padding: 0
}

@media(min-width: 600px) {
	 hr {
		margin-top: 36px
	}
}

@media(min-width: 1070px) {
	 hr {
		margin-top: 60px
	}
}

@media(min-width: 600px) {
	 hr {
		margin-bottom: 36px
	}
}

@media(min-width: 1070px) {
	 hr {
		margin-bottom: 60px
	}
}

 figcaption {
	font-family: Academica;
	font-size: 13px;
	line-height: 1.4;
	font-weight: 300;
	margin-top: 8px
}

 figcaption b,
 figcaption strong {
	font-weight: 700
}

 figcaption i,
 figcaption em {
	font-style: italic
}

 figcaption code {
	font-size: inherit
}



/* Figures, Images, Code, Blockquotes, Tables */

img {
    max-width: 100%;
    height: auto;
}



.regular-sans code {
    padding: 20px;
    background-color: var(--secondary-bg-color);
    border-radius: 5px;
    border: none;
    font-family: var(--secondary-font-family) !important;
}

.serif code {
    padding: 20px;
    background-color: var(--secondary-bg-color);
    border-radius: 5px;
    border: none;
    font-family: 'EB Garamond', Georgia, serif !important;
}


summary {
  display: flex;
  align-items: center;
  outline: none;
}



/* Blogposts: Post-heading, Post-subheading, Post-content, Related Posts*/

.site-heading-rtl {
    border-bottom: 2px solid var(--primary-border-color);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
}

.site-heading-rtl > .main-page-heading {
    color: var(--primary-text-color);
    font-family:  var(--primary-font-family);
    font-weight: 600;
    margin-right: 20px;
}

.site-heading-rtl > .main-page-tagline {
    color: var(--secondary-text-color);
    font-family:  var(--primary-font-family);
    font-size: 0.7rem;
    font-weight: 600;
    margin-right: 20px;
    margin-top: -25px;
}


.site-heading-rtl > .main-page-subheading {
    color: var(--primary-text-color);
    font-family:  var(--primary-font-family);
    font-weight: 600;
    font-size: 17.3px !important;
    margin-top: -8px;
    margin-right: 20px;
}



.site-heading-rtl a {
    text-decoration: none;
}

.site-heading-ltr {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
   margin-bottom: -1rem;
}

.site-heading-ltr > .main-page-heading {
    color: var(--primary-text-color);
    font-family:  var(--primary-font-family);
    font-weight: 600;
    margin-left: 20px;
}

.site-heading-ltr > .main-page-tagline {
    color: var(--secondary-text-color);
    font-family:  var(--primary-font-family);
    font-size: 0.7rem;
    font-weight: 600;
    margin-left: 20px;
    margin-top: -25px;
}


.site-heading-ltr > .main-page-subheading {
    color: var(--primary-text-color);
    font-family:  var(--primary-font-family);
    font-weight: 600;
    font-size: 17.3px !important;
    margin-top: -8px;
    margin-left: 20px;
}

.site-heading-ltr a {
    text-decoration: none;
        font-weight: var(--font-weight-semibold);
            font-size: 1rem;
}


.avatar {
    position: absolute;
    top: 50px;
    left: 10px;
}

.avatar-link {
    background-color: var(--primary-bg-color);
    border-radius: 50%;
    display: inline-block !important;
    float: left;
    margin: -35px 5px 0 8px;
    max-width: 100%;
    padding: 1px;
    vertical-align: bottom;
    font-family:  var(--primary-font-family);
}

.avatar-img {
    border: 2px solid var(--primary-bg-color);
    border-radius: 50%;
    box-sizing: border-box;
    height: 85px;
    width: 85px;
}


.dashboard {
    border-bottom: 1px solid var(--primary-border-color);
    width: 100%;
    display: flex;
    flex-direction: column;
}

.userboard {
   clear: both;
    background-color: var(--secondary-bg-color);
    width: 100%;
}

.username {
    padding-top: 15px;
    padding-left: 20px;
    font-size: 16px;
    font-weight: 600;
}

.username p a {
    font-size: 16px;
}

.username:hover {
    text-decoration: underline;
    color: var(--primary-text-color);
}

.userdesc {
    padding-left: 20px;
    margin-top: -13px;
}

.bio {
    font-size: 14.5px;
}

.alt_link {
    margin-top: -12px;
    font-size: 13px !important;
    display: flex;
    flex-direction: row;
}

.alt_link a {
    text-decoration: none;
    padding-left: 3px;
    color: var(--anchor-text-color);
}

.social {
    margin-top: -9px;
    font-size: 13px !important;
}

.anchor-link {
    stroke: var(--anchor-link-color) !important;
}

.main-site-subheader {
    border-bottom: 1px solid var(--primary-border-color);
    padding-left: 15px;
}

.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.menu-item:nth-of-type(1) {
    padding-left: 5px !important;
}

.menu-item {
    flex-basis: auto;
    border-right: 1px solid var(--primary-border-color);
    display: flex;
    flex-direction: column;
    padding-left: 0px; /*previously 14*/
    padding-right: 0px; /*previously 17*/
    padding-top: 0;
    padding-bottom: 5px;
    text-decoration: none;
}

.menu-item-icon {
    margin-top: 0px;
    align-self: center;
    justify-self: center;
    stroke: var(--lime);
}

.menu-item-text {
    margin-top: 0px;
    margin-left: auto;
    font-weight: 400;
    font-size: var(--font-size-small);
    font-family: var(--font-family-mono);
    color: var(--c-text-muted);
}

.menu-item-text:hover {
    color: var(--c-text-link);
}

.stale-link {
    background-color:#ffffc4;
}


#markdown-toc::before {
    content: "Contents";
    font-weight: bold;
    text-align: center;
}


#markdown-toc li {
    margin-left: 1rem;
    list-style: decimal;
}

#markdown-toc li * {
  padding-left: 3px;
}

#markdown-toc {
    border: 1px solid #aaa;
    padding: 1.5em;
    list-style: decimal;
    display: inline-block;
}

#markdown-toc a {
    text-decoration: none;
}

#markdown-toc a:hover {
    text-decoration: underline;
}


/* Common custom components between Main Site and Notes: Searchbar, Backbutton, ContentBox, Related Posts/Notes, Copyright,  */

#theme-toggle {
    height: 35px;
    width: 90px;
    position: absolute;
    top: 58px;
    right: 20px;
    align-items: center;
    background-color: var(--c-btn-bg);
    border: 1px solid var(--c-btn-alt-bg);
    display: flex;
    justify-content: center;
    padding: 8px;
    z-index: 90;
    font-family: var(--font-family-serif);
    font-style: italic;
    color: var(--c-text);
    cursor: pointer;
}

.button,
a.button {
	border: solid 1px transparent;
	border-radius: 50px;
	box-shadow: none;
	cursor: pointer;
	display: inline-block;
	padding: 10px 18px 8px;
	text-align: center;
	transition: all .2s cubic-bezier(0.645, 0.045, 0.355, 1);
	font-family: Theinhardt, system-ui, sans-serif;
	font-size: 15px;
	line-height: 1.2;
	font-weight: 400;
	padding: 10px 18px 8px;
	background-color: var(--c-btn-bg);
	color: var(--c-text)
}

.button:focus,
a.button:focus {
	box-shadow: inset 0 0 0 1px var(--c-border);
	outline: 0
}

.button:hover,
a.button:hover {
	box-shadow: none
}

@media(min-width: 600px) {
	.button,
	a.button {
		font-size: 17px;
		min-width: 160px;
		padding: 14px 24px 12px
	}
}

.button:focus,
.button:hover,
a.button:focus,
a.button:hover {
	background-color: var(--c-bg);
	border-color: var(--c-border);
	color: var(--c-text)
}

.button--bold,
a.button--bold {
	border: solid 1px transparent;
	border-radius: 50px;
	box-shadow: none;
	cursor: pointer;
	display: inline-block;
	padding: 10px 18px 8px;
	text-align: center;
	transition: all .2s cubic-bezier(0.645, 0.045, 0.355, 1);
	font-family: Theinhardt, system-ui, sans-serif;
	font-size: 15px;
	line-height: 1.2;
	font-weight: 400;
	padding: 10px 18px 8px;
	background-color: var(--c-text);
	color: var(--c-bg)
}

.button--bold:focus,
a.button--bold:focus {
	box-shadow: inset 0 0 0 1px var(--c-border);
	outline: 0
}

.button--bold:hover,
a.button--bold:hover {
	box-shadow: none
}

@media(min-width: 600px) {
	.button--bold,
	a.button--bold {
		font-size: 17px;
		min-width: 160px;
		padding: 14px 24px 12px
	}
}

.button--bold:focus,
.button--bold:hover,
a.button--bold:focus,
a.button--bold:hover {
	background-color: var(--c-bg);
	border-color: var(--c-border);
	color: var(--c-text)
}

.button--outline,
a.button--outline {
	border: solid 1px transparent;
	border-radius: 50px;
	box-shadow: none;
	cursor: pointer;
	display: inline-block;
	padding: 10px 18px 8px;
	text-align: center;
	transition: all .2s cubic-bezier(0.645, 0.045, 0.355, 1);
	font-family: Theinhardt, system-ui, sans-serif;
	font-size: 15px;
	line-height: 1.2;
	font-weight: 400;
	padding: 10px 18px 8px;
	background-color: transparent;
	border-color: var(--c-border);
	color: var(--c-text)
}

.button--outline:focus,
a.button--outline:focus {
	box-shadow: inset 0 0 0 1px var(--c-border);
	outline: 0
}

.button--outline:hover,
a.button--outline:hover {
	box-shadow: none
}

@media(min-width: 600px) {
	.button--outline,
	a.button--outline {
		font-size: 17px;
		min-width: 160px;
		padding: 14px 24px 12px
	}
}

.button--outline:focus,
.button--outline:hover,
a.button--outline:focus,
a.button--outline:hover {
	background-color: var(--c-text);
	border-color: var(--c-text);
	color: var(--c-bg)
}

a.button-icon-text svg {
	bottom: 2px;
	height: 1em;
	position: relative;
	width: 1em
}

a.button-icon-text svg.search-icon {
	fill: none;
	stroke: currentColor
}

a.button-block {
	display: block;
	margin-bottom: 5px;
	margin-top: 5px
}

.button-combo h4.button-combo__title {
	font-family: Theinhardt, system-ui, sans-serif;
	font-size: 15px;
	line-height: 1.2;
	font-weight: 400;
	color: var(--c-text-muted);
	letter-spacing: 0;
	margin: 0 0 18px;
	text-transform: none;
	color: var(--c-text);
	margin: 0 0 12px
}

@media(min-width: 600px) {
	.button-combo h4.button-combo__title {
		font-size: 17px;
		line-height: 1.4
	}
}

.button-combo ul.button-combo__list {
	list-style: none;
	margin: 0;
	padding: 0;
	align-items: flex-start;
	display: flex;
	flex-wrap: nowrap;
	justify-content: flex-start
}

.button-combo ul.button-combo__list li {
	margin: 0;
	padding: 0
}

.button-combo ul.button-combo__list li::before {
	display: none
}

.button-combo li.button-combo__list-item {
	display: block;
	margin: 0;
	padding: 0
}

.button-combo a.button-combo__link {
	border: solid 1px transparent;
	border-radius: 50px;
	box-shadow: none;
	cursor: pointer;
	display: inline-block;
	padding: 10px 18px 8px;
	text-align: center;
	transition: all .2s cubic-bezier(0.645, 0.045, 0.355, 1);
	font-family: Theinhardt, system-ui, sans-serif;
	font-size: 15px;
	line-height: 1.2;
	font-weight: 400;
	background-color: var(--c-text);
	color: var(--c-bg);
	display: inline-block
}

.button-combo a.button-combo__link:focus {
	box-shadow: inset 0 0 0 1px var(--c-border);
	outline: 0
}

.button-combo a.button-combo__link:hover {
	box-shadow: none
}

@media(min-width: 600px) {
	.button-combo a.button-combo__link {
		font-size: 17px;
		padding: 8px 18px 5px
	}
}

.button-combo a.button-combo__link:focus,
.button-combo a.button-combo__link:hover {
	background-color: var(--c-bg);
	border-color: var(--c-border);
	color: var(--c-text)
}

.button-combo li.button-combo__list-item a {
	border-radius: 0
}

.button-combo li.button-combo__list-item:not(:last-child) a {
	border-right: 1px solid var(--c-bg)
}

.button-combo li.button-combo__list-item:not(:first-child) a:hover,
.button-combo li.button-combo__list-item:not(:first-child) a:focus {
	border-left: 1px solid transparent
}

.button-combo li.button-combo__list-item:first-child a {
	border-bottom-left-radius: 50px;
	border-top-left-radius: 50px
}

.button-combo li.button-combo__list-item:last-child a {
	border-bottom-right-radius: 50px;
	border-top-right-radius: 50px
}

.button-group .button-group__heading {
	font-size: 28px;
	font-variant-ligatures: common-ligatures;
	font-variant-numeric: oldstyle-nums;
	font-feature-settings: pnum;
	font-family: Jannon Display, Times, "Times New Roman", serif;
	font-weight: 300;
	letter-spacing: -0.015em;
	line-height: 1;
	margin: 36px 0 8px;
	padding-bottom: 18px;
	color: var(--c-text-strong);
	text-align: center
}

@media(min-width: 300px)and (max-width: 1069px) {
	.button-group .button-group__heading {
		font-size: calc(28px + (72 - 28) * ( 100vw - 300px) / (1070 - 300))
	}
}

@media(min-width: 1070px) {
	.button-group .button-group__heading {
		font-size: 72px
	}
}

.button-group .button-group__heading a {
	box-shadow: inset 0 -10px var(--c-bg), inset 0 -11px var(--c-border);
	color: var(--c-text-link);
	cursor: pointer;
	transition: box-shadow .2s cubic-bezier(0.645, 0.045, 0.355, 1), color .2s cubic-bezier(0.645, 0.045, 0.355, 1)
}

.button-group .button-group__heading a:hover,
.button-group .button-group__heading a:focus {
	box-shadow: inset 0 -10px var(--c-bg), inset 0 -11px var(--c-text-strong);
	color: var(--c-text-strong)
}

@media(min-width: 600px) {
	.button-group .button-group__heading a {
		box-shadow: inset 0 -14px var(--c-bg), inset 0 -15px var(--c-border);
		color: var(--c-text-link);
		cursor: pointer;
		transition: box-shadow .2s cubic-bezier(0.645, 0.045, 0.355, 1), color .2s cubic-bezier(0.645, 0.045, 0.355, 1)
	}
	.button-group .button-group__heading a:hover,
	.button-group .button-group__heading a:focus {
		box-shadow: inset 0 -14px var(--c-bg), inset 0 -15px var(--c-text-strong);
		color: var(--c-text-strong)
	}
}

@media(min-width: 768px) {
	.button-group .button-group__heading {
		margin: 120px 0 12px
	}
}

@media(min-width: 600px) {
	.button-group .button-group__heading {
		padding-bottom: 24px
	}
}

@media(min-width: 1070px) {
	.button-group .button-group__heading {
		padding-bottom: 36px
	}
}

.button-group .button-group__list {
	list-style: none;
	margin: 0;
	padding: 0
}

.button-group .button-group__list li {
	margin: 0;
	padding: 0
}

.button-group .button-group__list li::before {
	display: none
}

.button-group--align-center .button-group__list {
	text-align: center
}

.button-group li.button-group__list-item {
	margin-bottom: 18px;
	display: inline-block
}

@media(min-width: 600px) {
	.button-group li.button-group__list-item {
		margin-bottom: 24px
	}
}

@media(min-width: 1070px) {
	.button-group li.button-group__list-item {
		margin-bottom: 36px
	}
}

.button-group li.button-group__list-item .button {
	white-space: nowrap
}


.searchbar input[type="text"] {
    position: relative;
    padding-left: 50px;
    box-sizing : border-box;
    width: 100%;
    height: 40px;
    border: 0px;
    font-family: var(--secondary-font-family) !important;
    color: var(--c-text);
    font-size: var(--font-size-medium);
    /*border-bottom: 1px solid var(--green);*/
    background-color: var(--c-card-bg-light);
    margin-top: 1em;
    padding: 0 1.25em;
}

::placeholder {
    color: var(--c-text-muted);
    font-size: 1rem;
    font-family:  var(--secondary-font-family) !important;
}
.search-icon {
    position: absolute;
    vertical-align: middle;
    margin-top: 1.1em;
    margin-left: -2em;
    stroke: var(--c-accent) !important;
    padding-top: 12.5px;
    z-index: 1;
}

.search-shortcut {
    position: absolute;
    margin-top: -2px;
    padding-top: 12.5px;
    z-index: 1;
    right: 0px !important;
    padding-right: 20px;
   font-family: var(--font-family-mono);
}

.search-shortcut kbd:first-child, .search-shortcut kbd:nth-child(2) {
    vertical-align: middle;
    display: inline-block;
    color: transparent;
    font-size: var(--font-size-small);
    border-radius: 0.2em;
    padding: 0.1em 0.3em;
    box-shadow:0 0px 8px var(--primary-box-shadow-color);
    font-family: var(--font-family-mono);
}

.searchbar input[type="text"]:focus {
    border-color: var(--primary-border-color);
    box-shadow: 0 0 8px 0 var(--searchbox-shadow-color);
    background-color: var(--white);
}

.searchbar input[type=text]:hover {
    background-color: var(--c-card-bg-light);
}

.searchbar input[type=text]:active,
.searchbar input[type=text]:focus {
    background-color: var(--c-card-bg-light);
    outline: 2px solid var(--c-border);
}

.search_res:hover {
    background-color: var(--secondary-bg-color);
}

.search_res:hover > a {
    font-weight: 600;
}

.search-results {
    position: absolute;
    left: 0;
    display: none;
    width: 100%;
    max-height: 500px;
    overflow-y: auto;
    background-color: #fff;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 3px 10px rgba(0, 0, 0, 0.08); ;
}

.search-result-title {
    display: block;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.search-results-list {
    padding-left: 0;
    margin-bottom: 0.25rem;
    list-style: none;
    font-size: 14px !important;
}

.search-results-list-item {
    padding: 0;
    margin: 0;
}

.search-result {
    display: block;
    padding-top: 0.25rem;
    padding-right: 0.75rem;
    padding-bottom: 0.25rem;
    padding-left: 20px;
    text-decoration: none !important;
}

.search-result:hover,
.search-result.active {
    background-color: var(--secondary-bg-color);
}

.search-result:hover > .search-result-title,
.search-result.active > .search-result-title {
    font-weight: 600;
}

.svg-doc {
    padding-right: 2px;
    stroke: var(--secondary-text-color) !important;
}

.search-result:hover > .svg-doc,
.search-result.active > .svg-doc {
    stroke: #555 !important;
}

.search-result-doc {
    display: flex;
    align-items: center;
    word-wrap: break-word;
}

.search-result-doc.search-result-doc-parent {
    opacity: 0.5;
    font-size: 12px !important;
}

.search-result-doc .search-result-icon {
    width: 1rem;
    height: 1rem;
    margin-right: 0.5rem;
    color: #7253ed;
    flex-shrink: 0;
}

.search-result-doc .search-result-doc-title {
    padding-left: 0.1rem;
    overflow: auto;
}

.search-result-section {
    margin-left: 1.5rem;
    word-wrap: break-word;
}

.search-result-previews {
    display: block;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    margin-left: 0.5rem;
    word-wrap: break-word;
    border-left: 1px solid;
    border-left-color: var(--secondary-border-color);
    font-size: 11px !important;
}

.search-result-preview span {
    color: var(--tertiary-text-color) !important;
}

.search-result-preview + .search-result-preview {
    margin-top: 0.25rem;
}

.search-result-highlight {
    font-weight: bold;
}

.search-no-result {
    padding-top: 0.5rem;
    padding-right: 0.75rem;
    padding-bottom: 0.5rem;
    padding-left: 0.75rem;
    font-family: var(--primary-font-family) !important;
    color: var(--primary-text-color) !important;
}


.search-overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 0;
    height: 0;
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 0;
    transition: opacity ease 400ms, width 0s 400ms, height 0s 400ms;
}

.search-active .search {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0;
}

.search-active .search-input-wrap {
    height: 4rem;
    border-radius: 0;
}

.search-active .search-results {
    display: block;
}

.search-active .search-overlay {
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: opacity ease 400ms, width 0s, height 0s;
}

.back-icon {
    background-color: var(--quinary-bg-color);
    fill: currentColor;
    color: var(--primary-text-color);
    margin-top: 5px;
    padding-left: 5px;
    fill: currentColor;
    cursor: pointer;
}

.back-icon,
.back-p {
    vertical-align: middle;
    display: inline-block;
}

.back-p {
    color: var(--primary-text-color);
    text-decoration: none;
    cursor: pointer;
    font-weight: 600;
}


.feed-title-excerpt-block {
    width: 100%;
    cursor: pointer;
    border-top: 1px solid var(--primary-border-color);
    border-bottom: 1px solid var(--primary-border-color);
}

.feed-title-excerpt-block:hover {
    background-color: var(--secondary-bg-color);
}

.srccode {
    position: absolute;
    right: 10px;
}

.srccode:hover > a > i {
    font-weight: 600;
}

.feed-title {
    color: var(--c-text-strong);
    margin-left: 20px;
    margin-right: 50px;
    font-family:  var(--font-family-serif);
    font-weight: var(--font-weight-base);
    letter-spacing: var(--letter-spacing-tight);
    font-size: 28px;

    @media(min-width: 300px)and (max-width:1499px) {
      font-size: calc(28px + (49 - 28) * ( 100vw - 300px) / ( 1500 - 300))
    }

    @media(min-width: 1500px) {
      font-size: 49px;
    }
}

.feed-title:hover {
   text-decoration: underline;
}

.feed-excerpt{
    color: var(--primary-text-color);
    margin-top: -12px;
    margin-left: 20px !important;
    margin-right: 30px;
    font-family:  var(--font-family-sans);
    font-size: 15px;
}

.tags {
    list-style: none;
  /*  padding-top: 18px;
    padding-bottom: 18px;
    position: relative;*/
    overflow: hidden;
    padding: 0;
    margin:0;
    display: block;
}

/*
@media(min-width: 600px) {
	.tags{
		padding-top: 24px
	}
}

@media(min-width: 1070px) {
	.tags{
		padding-top: 36px
	}
}

@media(min-width: 600px) {
	.tags{
		padding-bottom: 24px
	}
}

@media(min-width: 1070px) {
	.tags{
		padding-bottom: 36px
	}
}
*/

.tags li {
    float: left;
   /*line-height: var(--line-height-tight);*/
}

.tag {
    color: var(--green);
    text-decoration: none;
    display: inline-block;
    padding: 0 12px;
    border-radius: 0;
    height: auto;
    vertical-align: middle;
    font-family: var(--font-family-mono);
    font-weight: normal !important;
    font-size: var(--font-size-small);
    margin-right: 7px;
}

.status {
    color: var(--c-card);
    text-decoration: none;
    display: inline-block;
    padding: 0 10px !important;
    border-radius: 5px !important;
    height: auto;
    vertical-align: middle;
    font-family: var(--font-family-mono);
    font-weight: normal !important;
    font-size: var(--font-size-small);
    margin-bottom: 7px;
    background-color: var(--c-card-bg-light);
}

.status::before {
  width: 0;
  height: 0;
}

.readtime {
    color: var(--c-text);
    text-decoration: none;
    display: inline-block;
    padding: 0 12px;
    border-radius: 0;
    height: auto;
    vertical-align: middle;
    font-family: var(--font-family-mono);
    font-weight: normal !important;
    font-size: var(--font-size-small);
    margin: 0;
}

.content {
  line-height: 20px;
  margin-top: 5rem;
}

.content a {
    color: var(--anchor-text-color);
    text-decoration: none;
    background-image: linear-gradient(0deg,var(--lime) 40%,transparent 0);
    font-weight: var(--font-weight-semibold);
}

.content a:hover {
    text-decoration: none;
    background-color: var(--lime);
}

.sn-right,
.mn-right {
    float: right;
    clear: right;
    font-family:  var(--primary-font-family) !important;
    font-size: 14px;
    margin-right: -45%;
    width: 40%;
    margin-top: 0;
    margin-bottom: 0;
    vertical-align: baseline;
    position: relative;
    padding-bottom: 5px;
}

.sn-left,
.mn-left {
    float: left;
    clear: left;
    font-family:  var(--secondary-font-family) !important;
    font-size: 14px;
    margin-left: -45%;
    width: 40%;
    margin-top: 0;
    margin-bottom: 0;
    vertical-align: baseline;
    position: relative;
    padding-bottom: 5px;
}

.sidenote-number {
    counter-increment: sidenote-counter;
}

.sidenote-number:after,
.sn-left:before,
.sn-right:before {
    font-family:  var(--secondary-font-family) !important;
    position: relative;
    vertical-align: baseline;
}

.sidenote-number:after {
    content: counter(sidenote-counter);
    font-size: 12px;
    top: -0.5rem;
    left: 0.1rem;
}

.sn-right:before,
.sn-left:before {
    content: counter(sidenote-counter) " ";
    font-size: 14px;
    top: -0.5rem;
}

blockquote .sn-left,
blockquote .mn-left {
    float: left;
    clear: left;
    margin-left: -58%;
    width: 40%;
    text-align: left;
}

li .sn-left,
li .mn-left {
    float: left;
    clear: left;
    margin-left: -53%;
    width: 40%;
    text-align: left;
}

blockquote .sn-right,
blockquote .mn-right {
    float: right;
    clear: right;
    margin-right: -59% !important;
    width: 40%;
    text-align: left;
}


li .sn-right,
li .mn-right {
    float: right;
    clear: right;
    margin-right: -49% !important;
    width: 40%;
    text-align: left;
}


.tooltip {
    display:inline;
    position:relative;
    text-align:left;
}


.tooltip bottom {
    display: none;
}

.tooltip .right {
    min-width:300px;
    top:50%;
    left:100%;
    margin-left:20px;
    transform:translate(0, -50%);
    padding:10px 20px;
    color: var(--primary-text-color);
    background-color:var(--primary-bg-color);
    font-weight:normal;
    font-size:13px;
    border-radius:8px;
    position:absolute;
    z-index:99999999;
    box-sizing:border-box;
    box-shadow:0 1px 8px var(--primary-box-shadow-color);
    display:none;
}

.tooltip:hover .right {
    display:block;
}

.tooltip .right i {
    position:absolute;
    top:50%;
    right:100%;
    margin-top:-12px;
    width:12px;
    height:24px;
    overflow:hidden;
}

.tooltip .right i::after {
    content:'';
    position:absolute;
    width:12px;
    height:12px;
    left:0;
    top:50%;
    transform:translate(50%,-50%) rotate(-45deg);
    background-color: var(--primary-bg-color);
    box-shadow:0 1px 8px var(--primary-box-shadow-color);
}

.right .tooltip-title {
    font-size: 14px;
    font-weight: 600;
    display: inline-block;
}

.right .tooltip-excerpt {
    font-size: 12px;
    display: inline-block;
}

.right .tooltip-excerpt a {
    font-size: 12px;
}

input.margin-toggle {
    display: none;
}

.srs-svg {
    stroke: var(--primary-text-color);
}

label.sidenote-number {
    display: inline;
}

label.margin-toggle:not(.sidenote-number) {
    display: none;
}

.spaced-rep {
    display: none;
}

input.srs-toggle {
    display: none;
}

label.srs-toggle {
    display: inline;
    cursor: pointer;
}

.srs-toggle:checked + .spaced-rep{
    display: block !important;
    left: 1rem;
    clear: both;
    margin: 1rem 2.5%;
    vertical-align: baseline;
    position: relative;
    padding: 12px;
    width: 240px;
    background-color: var(--primary-bg-color);
    border: solid 1px var(--ternary-border-color);
    border-radius: 5px;
    box-shadow: 1px 1px 15px var(--gray-500);
    word-wrap:break-word;
}

.related {
    background-color:var(--secondary-bg-color);
    width: 100%;
    min-height: 100px;
    border-radius: 10px;
}

.related h4 {
    color: var(--secondary-text-color);
    padding-top: 20px;
    padding-left: 20px
}

.related-wrapper {
    column-count: 2 !important;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}

.related-group {
    background-color: var(--quaternary-bg-color) !important;
    margin-left: 10px;
    width: 90% !important;
    height: 100%;
    border: 1px solid var(--lime);
    cursor: pointer;
    border-radius: 0;
}

.related-group:hover {
    background-color: var(--quaternary-bg-color) !important;
    border: 2px solid var(--lime);
    text-decoration: underline;
}

.related-group:active {
    border: 2px dashed var(--lime);
}

.related-group a {
    text-decoration: none;
}

.related-title {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 12px !important;
    font-family:  var(--primary-font-family) !important;
    font-weight: 600;
}

.related-title:hover {
    font-decoration: underline;
}

.related-excerpt:before {
    content: "\"";
}


.related-excerpt:after {
    content: "\"";
}

.related-excerpt {
    color: var(--primary-text-color) !important;
    padding-left: 10px;
    padding-right: 5px;
    font-size: 12px !important;
   font-family: var(--font-family-sans);
}

.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 30px;
    background-color: transparent;
    background-repeat: no-repeat;
    cursor: pointer;
    color: var(--c-text);
    outline: none;
    border: none;
    overflow: hidden;
    font-size: 18px;
}

.context-menu-res {
    display: none;
    position: absolute;
    z-index: 10;
    padding: 12px 0;
    width: 240px;
    background-color: var(--primary-bg-color);
    border: solid 1px var(--ternary-border-color);
    border-radius: 5px;
    box-shadow: 1px 1px 15px var(--secondary-box-shadow-color);
}

.context-menu-res li {
    line-height: 0.8rem;
    padding-left: 0.2rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
}

.context-menu-res--active {
    display: block;
}

.context-menu-res li:hover {
    color: var(--primary-text-color);
    background-color: var(--secondary-bg-color);
}

.context-menu-res li:hover >  .context-menu-res__link {
    font-weight: bold;
}

.context-menu-res__link {
    color: var(--primary-text-color);
    text-decoration: none;
}



/* context-menu styling */
.context-menu {
    display: none;
    position: absolute;
    z-index: 10;
    padding: 12px 0;
    width: 177px;
    border: solid 1px var(--ternary-border-color);
    border-radius: 5px;
    box-shadow: 1px 1px 15px var(--secondary-box-shadow-color);
    background-color: var(--gray-500);
    color: var(--white);
  }

.context-menu--active {
  display: block;
}

.context-menu__items {
  list-style: none;
  margin: 0;
  padding-left: 6px;
  padding-right: 6px;
}

.context-menu__item {
  display: block;
  margin-bottom: 4px;
}

.context-menu__item:last-child {
  margin-bottom: 0;
}

.context-menu__link {
  display: block;
  padding: 4px 12px;
  color: var(--primary-text-color);
  text-decoration: none;
  font-size: 12px;
  font-family: var(--primary-font-family) !important;
}

.context-menu__link:hover {
  color: var(--primary-text-color);
  background-color: var(--secondary-bg-color);
  text-decoration: underline;
}

.popup {
 position: absolute;
 display: none;
}

#copyright {
    margin-left: 20px;
}

#copyright-notice {
    font-size: 0.7rem;
    font-weight: 400;
    font-family: var(--font-family-mono);
}

#disqus_thread {
    margin-left: 20px;
    margin-right: 10px;
}

@media screen and (max-width: 1200px){
    .sn-right,
    .mn-right {
        margin-right: -35%;
        width: 30%;
    }

    .sn-left,
    .mn-left {
        margin-left: -35%;
        width: 30%;
    }

    blockquote .sn-left,
    blockquote .mn-left {
        margin-left: -51% !important;
        width: 30% !important;
    }

    li .sn-left,
    li .mn-left {
    margin-left: -43% !important;
    width: 30% !important;
    }

    blockquote .sn-right,
    blockquote .mn-right {
        margin-right: -56% !important;
        width: 30% !important;
    }

    li .sn-right,
    li .mn-right {
    margin-right: -41% !important;
    width: 30% !important;
    }

.related-group {
    background-color:  var(--quaternary-bg-color) !important;
    margin-left: 10px;
    width: 90% !important;
    height: 100%;
    border-radius: 10px;
    cursor: pointer;
}
}

@media screen and (max-width: 1024px) {
    .tooltip .right {
        display: none;
    }

    .tooltip .bottom {
        min-width:300px;
        top:40px;
        left:50%;
        transform:translate(-50%, 0);
        padding:10px 20px;
        color:var(--primary-text-color);
        background-color:var(--primary-bg-color);
        font-weight:normal;
        font-size:13px;
        border-radius:8px;
        position:absolute;
        z-index:99999999;
        box-sizing:border-box;
        box-shadow:0 1px 8px var(--primary-box-shadow-color);
        display:none;
    }

    .tooltip:hover .bottom {
        display:block;
    }

    .tooltip .bottom i {
        position:absolute;
        bottom:100%;
        left:50%;
        margin-left:-12px;
        width:24px;
        height:12px;
        overflow:hidden;
    }

    .tooltip .bottom i::after {
        content:'';
        position:absolute;
        width:12px;
        height:12px;
        left:50%;
        transform:translate(-50%,50%) rotate(45deg);
        background-color: var(--primary-bg-color);
        box-shadow:0 1px 8px var(--primary-box-shadow-color);
    }

    .bottom .tooltip-title {
        font-size: 14px;
        font-weight: 500;
        display: inline-block;
    }

    .bottom .tooltip-excerpt {
        font-size: 12px;
        display: inline-block;
       background-color: var(--background-color-base);
    }

    .bottom .tooltip-excerpt a {
        font-size: 12px;
       background-color: var(--background-color-base);
    }
}

/* smartphones, touchscreens */
@media (pointer: coarse) {
  .tooltip:hover .bottom, .tooltip:hover .right {
      display: none;
  }
  .feed-context {
      padding: 2px 10px 0px 10px;
      height: 70px;
      right: 0px;
      margin-top: 15px;
  }
  .search-shortcut {
      display: none;
  }
}



@media screen and (max-width: 800px){

.box {
    width: 80%;
}

label {
    cursor: pointer;
}

label.margin-toggle:not(.sidenote-number) {
    display: inline;
}

.sn-left, .sn-right,
.mn-left, .mn-right {
    display: none;
}

.margin-toggle:checked + .sn-right,
.margin-toggle:checked + .sn-left,
.margin-toggle:checked + .mn-left,
.margin-toggle:checked + .mn-right {
    display: block;
    float: left;
    left: 1rem;
    clear: both;
    width: 95%;
    margin: 1rem 2.5%;
    vertical-align: baseline;
    position: relative;
}

.sketch-left, .sketch-right {
    display: inline-block !important;
    float: left !important;
    left: 1rem !important;
    clear: both !important;
    width: 95% !important;
    margin: 1rem 2.5% !important;
    vertical-align: baseline !important;
    position: relative !important;
    padding-bottom: 10px;
}
}

@media screen and (max-width: 500px){
.box {
  width: 100%;
  max-width: 100% !important;
  border-left: none !important;
  border-right: none !important;
}
.related-wrapper {
  grid-template-columns: repeat(1, 1fr);
}
}
